<header>
  <nav class="navbar fixed-top navbar-dark bg-primary">
      <a class="navbar-brand" [routerLink]="['/']">Colaborators</a>
      <button type="button" (click)="logout()" class="btn btn-outline-danger">Logout</button>
  </nav>
</header>

<section>
  <main class="container">
    <app-tables></app-tables>
      <router-outlet></router-outlet>
  </main>
</section>

<footer class="mt-2 p-2 text-center">
</footer>

<!--
      id: 1,
      name: string,
      email: string,
      cpf: number,
      cnpj: number,
      sexo: string,
      celular: number,
      datanascimento: string,
      skype: string,
      senha: string,
      dadosbancarios: string,
      ativo: string,
      datainicio: string,
      datadesligamento: string,
      image: ImageData, -->

